<!doctype html>
<html>
	<head>
		<style type="text/css">
			.content {
				width: 960px;
				margin: 0 auto;
			}
		</style>

		<% styles.forEach(function(css) { %>
			<link rel="stylesheet" href="<%= css %>"/>
		<% }) %>
	</head>
	<body>
		<div class="content">
			<%- markup %>
		</div>
	</body>
</html>